
<h3 ng-if="bettingLocked" style="color: red;" class="text-center">Bet: {{currentBet}}</h3>

<br>

<div class="text-center">
	<button ng-if="!bettingLocked" ng-click="lockBetting()" class="btn btn-lg btn-default">Done</button>

	<br>

	<button ng-if="bettingLocked" ng-click="lockBetting()" class="btn btn-lg btn-default">Continue betting</button>
	<a ng-if="bettingLocked" href="#/win" class="btn btn-lg btn-default">Round over</a>
</div>

<br>

<div ng-if="!bettingLocked" class="text-center">
	<h3>Chips on the table: {{currentBet}}</h3>

	<br>

	<h3>Raise: {{raiseAmt}} <button ng-click="undoRaise()" class="btn btn-lg btn-default">Undo</button></h3> 

	<br>
	<br>

	<div ng-repeat="amt in bettingAmts" ng-if="amt <= (bankroll + raiseAmt)" class="inline">
		<button ng-click="addToRaise({{amt}})" class="btn btn-lg btn-default">{{amt}}</button>
	</div>

	<br>
	<br>

	<h3>Your chips: {{bankroll}} <a href="#/buyin" class="btn btn-default">Get more</a></h3>

</div>
