
<div ng-repeat="amt in bettingAmts" class="inline">
	<button ng-click="bet({{-1*amt}})" class="btn btn-lg btn-default">{{amt}}</button>
</div>
<h3>Bet: {{currentBet}}</h3>

<br>
<br>
<div class="text-center">
  <a href="#/buyin" class="btn btn-default">Buy in</a> <a href="#/win" class="btn btn-lg btn-default">Done</a>
</div>
<br>
<br>
<br>

<div ng-repeat="amt in bettingAmts" class="inline">
	<button ng-click="bet({{amt}})" class="btn btn-lg btn-default">{{amt}}</button>
</div>
<h3>Bankroll: {{bankroll}}</h3>
