
<h3 ng-if="bettingLocked" style="color: red;" class="text-center">Bet: {{currentBet}}</h3>

<br>

<div class="text-center">
	<button ng-if="!bettingLocked" ng-click="lock()" class="btn btn-lg btn-default">Done</button>

	<br>

	<button ng-if="bettingLocked" ng-click="lock()" class="btn btn-lg btn-default">Continue betting</button>
	<a ng-if="bettingLocked" href="#/win" class="btn btn-lg btn-default">Round over</a>
</div>

<br>

<div ng-if="!bettingLocked">
	<h3 ng-if="!bettingLocked">Chips on the table: {{currentBet}}</h3>

	<br>
	<br>

	<div ng-repeat="amt in bettingAmts" ng-if="amt <= (bankroll + currentBet)" class="inline">
		<button ng-click="bet({{amt}})" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-arrow-up"></button>
		<br>
		<button class="btn btn-lg btn-default">{{amt}}</button>
		<br>
		<button ng-click="bet({{-1*amt}})" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-arrow-down"></button>
	</div>

	<br>
	<br>

	<h3>Your chips: {{bankroll}} <a href="#/buyin" class="btn btn-default">Get more</a></h3>

</div>
