
<div class="header-container">
  <div class="header container text-left" >
    <h3 class="text-muted">Virtual Chips</h3>
  </div>
</div>

<div class="content container">
  <div class="content-wrapper">
    <div class="text-center">

			<h3>Buy in: <a href="#/bet" ng-click="buyIn()" class="btn btn-lg btn-default">Done</a></h3>

			<h3>Your chips: {{bankroll + buyInAmt}} <button ng-click="undoAddToBuyIn()" class="btn btn-lg btn-default">Undo</button></h3>

			<br>
			<br>

			<div ng-repeat="amt in buyInAmts" class="inline">
				<button ng-click="addToBuyIn({{amt}})" class="btn btn-lg btn-default">{{amt}}</button>
			</div>

		</div>
  </div>
</div>

<div class="footer-container">
  <div class="footer container text-right" >
    <h5>Have feedback? <a href="mailto:trytassos@gmail.com?Subject=Tassos%20feedback" target="_top">Email us</a>!</h5>
  </div>
</div>
